@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:wght@700;800;900&family=Share+Tech&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./assets/cage.png), #090a0f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {

  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar-container {
  display: flex;
  margin-left: 3vw;
  width: 55%;
  justify-content: space-between;
  color: #fff;
  gap: 50px;
  margin-top: 4vh;
  position: fixed;
  flex-wrap: nowrap;
  flex-shrink: 0;
  z-index: 1;
}

.navbar-container .link {
  color: #fff;
  font-size: 1rem;
  margin-right: -4.5vw;
  background-clip: text;
}
.navbar-container .link:hover {
  background: #fff;
  width: 200px;
  color: #090a0f;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
}
.ccc-logo img {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 2.5rem;
}
.Header {
  position: sticky;
}
.design{
  width: 340px;
}
.WhiteCard {
  background-color: #fff;
  width: 93%;
  border-radius: 40px;
  height: 70%;
  position: absolute;
  left: 3.5%;
  top: 23%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-image: none;
}
.card {
  background-color: #d9d9d9;
  width: 96%;
  height: 40rem;
  position: absolute;
  /* display: flex;
  justify-content: center; */
  left: 2%;
  top: 12%;
  border-radius: 40px;
  background-image: none;
}
.Image {
  border-radius: 20px;
}

.faculty-content h1 {
  font-family: share tech;
  position: absolute;
  left: 40%;
  top: 14%;
  font-size: 40px;
  font-weight: 400;
  background: #d9d9d9;
}

.about-content h1{
  font-family: share tech;
  position: absolute;
  left: 29%;
  top: 14%;
  width: 50%;
  font-size: 2.5rem;
  font-weight: 400;
  background: #d9d9d9;
}

.mobile_design{
  display: none;
}

@media screen and (width <=1000px){
  .about-content h1{
    font-size: 1.9rem;
    text-align: center;
    left: 25%;
  }
  .faculty-content h1{
    font-size: 1.9rem;
    text-align: center;
  }
  .Image{
    width: auto;
    height: 450px;
  }
  .design{
    height: 450px;
    width: 283px;
    margin: 10px;
  }
}
@media screen and (width <=800px){
  .about-content h1{
    font-size: 1.5rem;
    text-align: center;
    top: 15%;
    left: 25%;
  }
  .faculty-content h1{
    font-size: 1.9rem;
    text-align: center;
    left: 37%;
  }
  .Image{
    width: auto;
    height: 400px;
  }
  .design{
    height: 250px;
    width: 160px;
    margin-top: 80px;
    margin-left: 20px;
    align-items: center;
  }
}
@media screen and (width <= 770px){
  .about-content h1{
    font-size: 1.5rem;
    text-align: center;
    left: 10%;
    width: 80%;
  }
  .faculty-content h1{
    font-size: 1.9rem;
    text-align: center;
  }
  .Image{
    width: auto;
    height: 380px;
  }
  .design{
    height: 250px;
    width: 160px;
    margin-top: 80px;
    margin-left: 20px;
    align-items: center;
  }
  
}


@media screen and (width <= 700px){
  .about-content h1{
    font-size: 1.5rem;
    text-align: center;
    left: 10%;
    width: 80%;
  }
  .faculty-content h1{
    font-size: 1.9rem;
    text-align: center;
    left: 34%;
  }
  .Image{
    width: auto;
    height: 350px;
  }
  .design{
    height: 250px;
    width: 160px;
    margin-top: 80px;
    margin-left: 20px;
    align-items: center;
  }
  .WhiteCard{
    height: 50%;
  }
  .card{
    height: 63%;
  }
}

@media screen and (width <= 600px){
  .about-content h1{
    font-size: 1.4rem;
    text-align: center;
    left: 10%;
    width: 80%;
  }
  .Image{
    width: auto;
    height: 320px;
  }
  .design{
    height: 170px;
    width: 110px;
    margin-top: 80px;
    margin-left: 20px;
    align-items: center;
  }
}

@media screen and (width <= 550px){
  .about-content h1{
    font-size: 1.2rem;
    text-align: center;
    left: 10%;
    width: 80%;
  }
  .faculty-content h1{
    font-size: 1.9rem;
    text-align: center;
    left: 29%;
  }
  .Image{
    width: auto;
    height: 280px;
  }
  .design{
    height: 170px;
    width: 110px;
    margin-top: 80px;
    margin-left: 20px;
    align-items: center;
  }
}

@media screen and (width <=500px){
  .about-content h1{
    font-size: 1.3rem;
    text-align: center;
    left: 15%;
    width: 70%;
  }
  .Image{
    width: auto;
    height: 380px;
  }
  .design{
    display: none;
  }
  .mobile_design{
    display: block;
    height: 80px;
    width: 300px;
    margin: 20px;
  }
  .WhiteCard{
    height: auto;
  }
  .card{
    height: 130%;
  }
}

@media screen and (width <= 478px) {
  .Image{
    margin: 10px;
  }
  .card{
    height: 93%;
  }
  .card{
    height: 135%;
  }
}
@media screen and (width <= 450px){
  .about-content h1{
    font-size: 1.2rem;
    text-align: center;
    left: 10%;
    width: 80%;
  }
  .faculty-content h1{
    font-size: 1.9rem;
    text-align: center;
    left: 24%;
  }
  .Image{
    width: auto;
    height: 380px;
  }
  .design{
    display: none;
  }
  .WhiteCard{
    height: auto;
  }
  .card{
    height: 135%;
  }
}
@media screen and (width <=400px){
  .about-content h1{
    font-size: 1.2rem;
    text-align: center;
    left: 10%;
    width: 80%;
  }
  .faculty-content h1{
    font-size: 1.9rem;
    text-align: center;
    left: 20%;
  }
  .Image{
    width: auto;
    height: 380px;
  }
  .design{
    display: none;
  }
  .WhiteCard{
    height: 140%;
  }
  .card{
    height: 152%;
  }
}


@media screen and (width <=360px){
  .about-content h1{
    font-size: 0.95rem;
    text-align: center;
    left: 15%;
    top: 16%;
    width: 70%;
  }
  .faculty-content h1{
    font-size: 1.5rem;
    text-align: center;
    left: 24%;
    top: 15%;
  }
}

@media screen and (width <= 290px) {
  .WhiteCard{
    height: auto;
    top: 20%;
  }
  .Image{
    width: auto;
    height: 340px;
    margin: auto;
  }
  .design{
    display: none;
  }
  .card{
    height: 130%;
  }
  .mobile_design{
    display: block;
    height: 50px;
    width: 200px;
    margin: 20px;
  }
}