@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*
{
  background-color:  #090A0F;
  background-image: url(./assets/cage.png);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
  
}
.navbar-container
{
  display: flex;
  margin-left: 3vw;
  width: 55%; 
  justify-content: space-between;
  color: #fff;
gap: 50px;
  margin-top: 1%;
position: fixed;
flex-wrap: nowrap;
flex-shrink: 0;
height: 5%;
z-index: 1;
height: 5vh;
position: fixed;

}

.navbar-container .link { 
  color: #fff;
  text-decoration: none; 
  font-style: none;
  font-size: 1.3rem;
  margin-right: -4.5vw;
  background-clip: text;
  width: 100px;
}
.ccc-logo img{
  position: fixed;
  left: 20px;
  top: 20px;
  width: 2.5rem;
}


.picture-card:hover{
cursor: pointer;
}
.footer-below:hover{
  cursor: pointer;
}

.Header
{
  position: sticky;
}
.footer-container
{

  border-top:3px solid #fff ;
  margin-top: 5vh;
}

.footer-main
{
width: 90vw;
height: 40vh;
margin-left: -4vw;

}

.picture-card
{
  height: 35vh;
  width: 15vh;
  background: #1E1E1E;
 
  
}
.bg-color
{
  height: 34vh;
  width: 15vh;
  
}

.picture img{
  width: 15vw;
  height: 29vh;
 scale: 0.9;
  object-fit: cover;
}

.home-container 
{
  width: 95vw;
  height: 80vh;
 overflow-x: hidden;
 margin-top: 10vh;
 display: flex;
 flex-direction: column;
}
.home-content
{
 
  width: 90vw;
  height: 60vh;

}
.main-upside
{
  display: flex;
justify-content: space-between;
  height: 50%;
width: 100%;
flex-wrap: wrap;
 
}
.upside-left
{
  width: 40vw;
 margin-left: 5vw;
  overflow-x: hidden;
}


.upside-right img
{
  width: 20vw;
  overflow: hidden;
  overflow-x: hidden;
  object-fit: cover;
  border: 2px white solid;
  border-radius: 50%;
  margin-top: -15vh;
  margin-bottom: 12vh;

}
.below-left
{
  width: 50%;
  margin-left: 16vw;
}




/* .btn-pink {
  background-color: #4e4646;
 
  border: solid 2px #fff;
  color: white;
  padding: 0.8rem 2.3rem;
 border-radius: 5%;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
 
  position: relative;
  z-index: 1;
 
}
.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.6s;

}
.btn-pink:hover::before {
  transform: scaleX(1);
}
.btn-pink:hover {
  border: solid 3px #000;
  color: black;
  
} */



@media screen  and (max-width:299px){
  .footer-container
  {
    gap: -20px;
  }

  .navbar-container .link
  {
    font-size: 0.5rem;
  }
.picture-card{
  scale: 0.4;
  margin-top: -50px;
    margin-left: -15px;   
}
.picture img {
  width: 150%;
}
.Tech-Buzz
{
  width: 150px;
 
}
.logo-image
{
  scale: 1.2;
}
.logo-para
{
  font-size: 10px;
}
.footer-below
{
  gap: 10px;
  margin-top: -50px;
}
.contact
{
  scale: 0.7;
}



.upside-left 
{
  width: 60vw;
  margin-left: 8vw;
     margin-top: -10vh;
}
.upside-right
{

margin-left: 28vw;
margin-top: 20vh;
}
.upside-right img 
{
  width: 35vw;
}


.below-upside
{
  margin-left: -20vw;
 width: 40vw;
  font-size: 11px;
}
.below-downside
{
  margin-left: -20vw;
}
.below-right
{

font-size: 11px;
}
.btn-pink
{
  scale: 0.8;
  margin-top: 7vh;
}
 .some
 {
  flex-direction: column;
 }



}

@media only screen and (max-width: 600px) and (min-width:300px){
  /* Styles for extra small devices */
  .navbar-container .link
  {
    font-size: 1rem;
  }

  .footer-container
  {
    gap: -20px;
  }
.picture-card{
  scale: 0.5;
  margin-top: -50px;
}
.picture img {
  width: 150%;
}
.Tech-Buzz
{
  width: 60vw;
}
.logo-image
{
  scale: 1.2;
}
.logo-para
{
  font-size: 10px;
}
.footer-below
{
  gap: 10px;
  margin-top: -50px;
}
.contact
{
  scale: 0.7;
}


.upside-left 
{
  width: 60vw;
  margin-left: 8vw;
     margin-top: -10vh;
}
.upside-right
{

margin-left: 28vw;
margin-top: 20vh;
}
.upside-right img 
{
  width: 30vw;
}


.below-upside
{
  margin-left: -20vw;
 width: 40vw;
  margin-top: 5vh;
  font-size: 14px;
}
.below-downside
{
  margin-left: -20vw;
}
.below-right
{
position: relative;
right: 5vw;
font-size: 14px;
}
.btn-pink
{
  scale: 0.8;
  margin-top: 7vh;
}
 .some
 {
  flex-direction: column;
 }


}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .footer-container
  {
    gap: -20px;
  }
 
.picture img {
  width: 150%;
}

.logo-image
{
  scale: 1.2;
}
.logo-para
{
  font-size: 15px;
}
.footer-below
{
  gap: 10px;
  margin-top: -50px;
}

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for medium devices */
  .footer-container
  {
    gap: -20px;
  }

 .picture img 
 {
  width: 350px;
 }
 .picture{
  width: 100%;
  height: 90%;
 }
 .picture-content
 {
  width: 100%;
 }

 .upside-right 
 {
    margin-top: 10vh;
   margin-right: 5vw;
 
 }
 .upside-right img {
    width: 30vw;
 }
 .below-upside
 {
   margin-left: -20vw;
  width: 40vw;
   margin-top: 5vh;
   font-size: 20px;
 }

 .below-right
 {
 position: relative;
 right: 5vw;
 font-size: 20px;
 }


}


